<div class="newbooking">
  <div class="container">
    <div class="double-name">
      <h1>Book <%= @double.name %></h1>
    </div>
    <div class=""></div>
    <hr>
    <%= simple_form_for [@double, @booking] do |f| %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= f.submit class: "btn btn-success"%>
    <% end %>
  </div>
</div>


