<div class="main-container my-5">
  <div class="grid-index">
    <% @doubles.each do |double| %>
      <%= link_to double_path(double) do %>
        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
          <%= image_tag double.image_URL, class: 'card-img-top' %>
            <div class="card-body">
              <h5 class="card-title"><%= double.name %></h5>
              <h6 class="card-subtitle py-1"><%= double.price %>€</h6>
              <p class="card-text py-1"><%= double.address %></p>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="map-container">
    <div id="map" 
      style="width: 100%; height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
