<div class="container">
  <% if @double.photo.attached? %>
      <div class="double-image"> <%= cl_image_tag(@double.photo.key, gravity: "face", crop: "fill", height: 358, width: 700) %></div>
  <% else %>
      <div class="double-image"> <%= image_tag 'no-photo-placeholder.png' %></div>
  <% end %>
    <div class="grid-show my-5">
      <div class="left-content">
          <div class="text">
            <div class="title-and-buttons">
            <h1><%= @double.name %></h1>
              <div class="buttons">
                <% if policy(@double).edit? %>
                  <%= link_to edit_double_path do %>
                    <%= icon('far', 'edit', class: 'px-2') %>
                  <% end %>
                  <%= link_to double_path(@double), method: :delete, data: { confirm:"Are you sure?" } do %>
                    <%= icon('far', 'trash-alt', class: 'px-2') %>
                  <% end %>
                <% end %>
              </div>
            </div>
            <h3> Daily price: <%= @double.price.to_i %> € </h3>
            <h5><%= @double.address %></h5>
            <p><%= @double.description %></p>
          </div>
        </div>
      <div id="booking-form-div"
        data-bookings="<%= @bookings_dates.to_json %>">
          <%= simple_form_for [@double, @booking] do |f| %>
            <%= f.input :start_date, label: "Select your date(s):", as: :string, required: false, input_html: { id: "range_start", class: "d-none"} %>
            <%= f.input :end_date, label: false, as: :string, required: false, input_html: { id: "range_end", class: "d-none" } %>
            <%= f.button :submit, "Book", class: "btn-special" %>
          <% end %>
      </div>
    </div>
  </div>
</div>
