<h1><%= @double.name %></h1>
<h4><%= @double.price %></h4>
<p><%= @double.description %></p>
<p><%= @double.address %></p>
<%= image_tag @double.image_URL, alt: "alttext" %>
<% if policy(@double).edit? %>
  <%= link_to "Update", edit_double_path %>
  <%= link_to "Delete", double_path(@double), method: :delete, data: { confirm:"Are you sure?" } %>
<% end %>


