  <div class="hero">
    <div class="text-header d-flex justify-content-center align-items-center">
      <%= image_tag "doppl_logo.png", alt: "doppel logo" %>
      <h1>The best place to rent doubles</h1>
    </div>
    <div class="down-arrow d-flex justify-content-center align-items-end">
      <a href="#categories"><%= icon('fas','chevron-down') %></a>
    </div>
  </div>
  <div id="categories" class="container my-5">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4">
        <%= link_to doubles_path do %>
          <div class="cards shadow p-3 mb-5 bg-white rounded">
            <div class="card tv justify-content-center align-items-center">
              <h2>TV</h2>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <%= link_to doubles_path do %>
          <div class="cards shadow p-3 mb-5 bg-white rounded">
            <div class="card cine justify-content-center align-items-center">
              <h2>CINEMA</h2>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <%= link_to doubles_path do %>
          <div class="cards shadow p-3 mb-5 bg-white rounded">
            <div class="card comedy justify-content-center align-items-center">
              <h2>COMEDY</h2>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <%= link_to doubles_path do %>
          <div class="cards shadow p-3 mb-5 bg-white rounded">
            <div class="card music justify-content-center align-items-center">
              <h2>MUSIC</h2>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <%= link_to doubles_path do %>
          <div class="cards shadow p-3 mb-5 bg-white rounded">
            <div class="card politic justify-content-center align-items-center">
              <h2>POLITIC</h2>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <%= link_to doubles_path do %>
          <div class="cards shadow p-3 mb-5 bg-white rounded">
            <div class="card sport justify-content-center align-items-center">
              <h2>SPORT</h2>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
